# Disable precompiled python scripts
*.py[cod]
__pycache__/
django

# Disable sqlite3 database (use only for local tests)
db.sqlite3

# Disable parameters defined in *.py.dist (critical)
bioinfuse/parameters.py
jebif/settings.py

# Disable temporary files from LaTeX compilation
docs/en/*.aux
docs/fr/*.aux
docs/en/*.log
docs/fr/*.log
docs/en/*.synctex.gz
docs/fr/*.synctex.gz
